body{
	background:			#dc0101;
	font-family:		'Arial';
	font-size:			10;
	font-weight:		normal;
	font-style:			normal;
	color:				#fff;
	border:				0px solid #232323;
	border-radius:		3;
	-moz-border-radius:	3;
}
#inform{
	border-radius: 		3px;
	background-color: 	#562323;
	color: 				#dcdcdc;
	position: 			fixed;
	right: 				5px;
	width: 				150px;
	height: 			auto;
	opacity: 			0.0;
	min-height: 		30px;
	padding-top: 		auto;
	border:             0px solid #000;
	text-align:         center;
	padding:            auto;
}
