<div id="userProfile">
	<br>
	All fields are required.<br>
	<br>
	<input type="text" class="emailAddress" id="oldPass" placeholder="Old Password"/>
	<input type="text" class="emailAddress" id="newPass" placeholder="New Password"/>
	<input type="text" class="emailAddress" id="newPassConfirm" placeholder="Confirm New Password"/>
	<!-- <input type="text" class="password" id="password" placeholder="password"/> -->
	<input type="button" id="changePassBtn" value="change password"/>
</div>