<!--<form ng-submit="doLogin()">-->
<input type="text" class="emailAddress" id="emailAddress" placeholder="email address"/>
<input type="text" class="password" id="password" placeholder="password"/>
<input type="button" id="loginBtn" value="sign in"/>
<input type="button" id="signupLink" value="sign up"/>
<!--</form>-->