<div id="popupWrapper">
	<div id="popupContainer">
		<input type="button" id="popupCloseBtn" onclick="closePopUp()" value="x"/>
		<div id="popupHead">
				Popup Heading
		</div>
		<div ng-model="popupBody" id="popupBody">
				Popup Body
		</div>
		<div id="popupFoot">
				Popup Foot
		</div>	
	</div>
</div>