<div id="userProfile">
	<br>
	Please enter an email and a password for your account. You will need to verify your email 
	before your account is active so make sure you give a valid email address.<br>
	<br>
	<input type="text" class="emailAddress" id="emailAddress" placeholder="email address"/>
	<!-- <input type="text" class="password" id="password" placeholder="password"/> -->
	<input type="button" id="signupBtn" value="sign up"/>
</div>