<div id="userProfile">
	<div id="userProfileImage" class="userProfileBlock">
		<center>
			<div class="imageContainer"></div>
			<a href="#" onclick="changeImage()">change image</a>
		</center>
	</div>

	<div id="userProfileDetails" class="userProfileBlock">
		Name:<br>
		<input type="text" name="userName" id="userProfileName"/><br>
		<!-- Email:<br>
		<input type="text" name="userProfileEmail" id="userProfileEmail"/><br> -->
		<br>
		<div class="pullRight">
			<a href="#" onclick="saveChanges()">save</a>&nbsp;<a href="#" onclick="chngPassword()">change password</a><br>
		</div>
	</div>

	<div class="mdGrey pullLeft fillWidth padTop"></div>
</div>